.container-fluid {
    margin: 0;
    padding: 0;
}

.img-style {
    height: 100%;
    width: 100%;    
}

.row {
    align-items: center;
    text-align: justify;

    h4 {
        color: #3C64B1;
    }
}