.title {
    color: #3C64B1;
    text-align: right;
    margin: 2.5rem 0;
    align-items: center;
    font-size: 4rem;
}

.subtitle {
    color: #333333;
    text-align: left;    
    font-style: italic;
    font-size: 1.1rem;
    align-items: center;    
    margin-top: 1.2rem;
    margin-left: -1rem;
    width: 420px;
    
}